* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.topContainer {
    padding: 0 15px 0 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calculator {
    background: #494949;
    border-radius: 15px;
    color: white;
    position: relative;
    width: clamp(300px, 50%, 600px);
    -webkit-box-shadow: 0 0 64px -3px rgba(0,0,0,0.73);
    -moz-box-shadow: 0 0 64px -3px rgba(0,0,0,0.73);
    box-shadow: 0 0 64px -3px rgba(0,0,0,0.73);
}

.circles {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle.red {
    background-color: red;
}

.circle.yellow {
    background-color: yellow;
}

.circle.green {
    background-color: green;
}

.value {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 300;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}

.smallValue {
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
}

.button {
    align-items: center;
    background-color: grey;
    cursor: pointer;
    display: flex;
    font-size: clamp(1rem, 2vw, 2.5rem); /* Adjust font size based on viewport width */
    height: clamp(50px, 8vw, 100px); /* Adapt height based on viewport width */
    width: clamp(50px, 8vw, 100px); /* Adapt width based on viewport width */
    justify-content: center;
    transition: filter .3s;
}

.button.function {
    color: white;
    background: #595858;
}

.button.operator {
    background: #f1a33c;
}

.button.number-0 {
    grid-column: 3 / span 2;
    grid-row: 6;
    justify-content: center;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.button.xdegreey {
    grid-column: 1;
    grid-row: 5 / span 2;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 2;
}

.button.xrooty {
    grid-column: 2 ;
    grid-row: 5 / span 2;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 2;
    border-bottom-left-radius: 13px;
}

.button.equal {
    border-bottom-right-radius: 13px;
}

.button:active,
.button:focus {
    filter: brightness(120%);
}
